<div
  class="card-container cursor-pointer"
  *ngFor="let element of array"
  (click)="redirectToComponent(element.id)"
  [ngClass]="{
    'card-main': element.discount > 70,
    'description-image': element.discount < 70,
    'card-orange': element.discount > 50 && element.discount < 70,
    'card-violet': element.discount >= 20 && element.discount < 50,
    'card-green': element.discount < 20
  }"
>
  <div class="header">
    <h3 class="card-sale">{{ element.discount }}%<br />off</h3>
  </div>
  <div class="description-image-container">
    <div class="description-container-1">
      <p>
        {{ element.description | shorten: 10 }}
      </p>
    </div>
    <div class="image-container">
      <img [src]="element.imgUrl" alt="" />
    </div>
  </div>

  <div class="price-container">
    <p>
      {{ ((100 - element.discount) / 100) * element.price | currency: "USD" }}
      <small>{{ element.price | currency: "USD" }}</small>
    </p>
    <p>{{ element.shop }}</p>
  </div>

  <div class="separator-container-2"></div>

  <div class="description-container-2">
    <p>
      {{ element.description | shorten: 40 }}
    </p>
  </div>

  <div class="separator-container"></div>

  <div class="card-footer">
    <p *ngIf="element.shipping">{{ element.shipping }}</p>
    <p class="vertical-separator" *ngIf="element.shipping && element.new"></p>
    <p *ngIf="element.new">New</p>
    <p
      class="vertical-separator"
      *ngIf="element.shipping || (element.new && element.discountUntil)"
    ></p>
    <p>
      {{ element.discountUntil | date: "short" }}
    </p>
  </div>
</div>
