<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="card">Card component</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="contact">Contact page</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="orders">Order page</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="orders/create"
          >Create New Product</a
        >
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
